.venv
*.pptx
*.pdf
Software_ShapeDrive*
Software_VisionApp*
*.pyc
*.pkl
.*.swp

/.mypy_cache/*
/.hypothesis/*
.coverage

*log*.txt
*.log

.vscode/*
*.zip
*.so
*.so*
*.dll
*.cache
.venv
*.egg-info

models
token.txt
results
*.jpg
ShapeDriveGigEInterface
*.npy

results_pb2.py
results_pb2.pyi